<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <article class="about">
        <h3 class="about-title">About Margdarshan</h3>
        <p class="about-desc">Margdarshan is an all-in-one platform that guides students from their preparation stage to
            college admission.<span class="hide" id="dots">...</span><span id="more">
                Our focus is on catering to the needs of aspirants preparing for JEE and NEET, and we aim to
                revolutionize
                the way they prepare for these exams. Our vision is to provide personalized solutions to meet every
                student's unique needs. With our study material, test-series, college predictor, and guidance for
                college
                counseling, we are on a mission to help students find their destiny.</span> <a class="hide" href="#"
                onclick="readMore()" id="myBtn">Read more</a></p>
    </article>
</body>
</html>