<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <div class="upper-header">

                <h1>Unlock Your <span class="typewrite" data-period="3500"
                        data-type='["Potential", "Dream", "Sample"]'><span class="wrap">Potential</span><span
                            class="border-blink"></span></span> Explore Engineering Colleges and Exams with Ease.
                </h1>
                <p>Unleash your true potential with our College Predictor and Test Series. Unlock doors to your dream
                    college, excel in JEE exams, and thrive academically. Our innovative tools and personalized support
                    guide you towards the right fit, enabling remarkable success. Embark on a fulfilling educational
                    journey with our cutting-edge edtech platform.</p>

                <a href="https://marg-darshan.com/CollegePredictor"><button class="header-btn green-btn" id="college_predictor">College Predictor</button></a>
                <button class="header-btn gray-btn">Test Series</button>

            </div>
        </div>
    </div>
</body>
</html>