{% extends "index.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
<section class="login-clean">
    <form method="post">
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
        <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" href="/login">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a>
        <div class="mb-3"></div><a class="forgot" href="/register_page">New User? Register Here</a>
    </form>
</section>
{% endblock %}